In [3]:
import pandas

csvPath = '/home/arrayslayer/ML Competitions/Kaggle NYC/'
dweath = pandas.DataFrame(pandas.read_csv(csvPath + "Weather" + ".csv"))
dweath.columns

Index(['pickup_datetime', 'tempm', 'tempi', 'dewptm', 'dewpti', 'hum', 'wspdm',
       'wspdi', 'wgustm', 'wgusti', 'wdird', 'wdire', 'vism', 'visi',
       'pressurem', 'pressurei', 'windchillm', 'windchilli', 'heatindexm',
       'heatindexi', 'precipm', 'precipi', 'conds', 'icon', 'fog', 'rain',
       'snow', 'hail', 'thunder', 'tornado'],
      dtype='object')

In [4]:
import pandas, numpy, datetime

### Train Data Wrangling ###
# Open raw Train data
csvPath = '/home/arrayslayer/ML Competitions/Kaggle NYC/'
dtrain = pandas.DataFrame(pandas.read_csv(csvPath +"train.zip", compression = 'zip'))
# Prepare Train data
dtrain["pickup_datetime"] = pandas.to_datetime(dtrain["pickup_datetime"])
dtrain["dropoff_datetime"] = pandas.to_datetime(dtrain["dropoff_datetime"])
dtrain["Month"]=pandas.to_datetime(dtrain["pickup_datetime"]).dt.month
dtrain["Week"]=pandas.to_datetime(dtrain["pickup_datetime"]).dt.week
dtrain["Weekday"]=pandas.to_datetime(dtrain["pickup_datetime"]).dt.weekday_name
dtrain["Hour"]=pandas.to_datetime(dtrain["pickup_datetime"]).dt.hour
# Save wrangled Train data
dtrain.to_csv(csvPath + "dtrain.csv") # Save to csv

### Test Data Wrangling ###
# Open raw Test data
csvPath = '/home/arrayslayer/ML Competitions/Kaggle NYC/'
dtest = pandas.DataFrame(pandas.read_csv(csvPath +"test.zip", compression = 'zip'))
# Prepare Train data
dtest["pickup_datetime"] = pandas.to_datetime(dtrain["pickup_datetime"])
#dtrain["dropoff_datetime"] = pandas.to_datetime(dtrain["dropoff_datetime"])
dtest["Month"]=pandas.to_datetime(dtest["pickup_datetime"]).dt.month
dtest["Week"]=pandas.to_datetime(dtest["pickup_datetime"]).dt.week
dtest["Weekday"]=pandas.to_datetime(dtest["pickup_datetime"]).dt.weekday_name
dtest["Hour"]=pandas.to_datetime(dtest["pickup_datetime"]).dt.hour
# Save wrangled Test data
dtest.to_csv(csvPath + "dtest.csv") # Save to csv

### Weather Data Wrangling ###
# Open raw Weather data
csvPath = '/home/arrayslayer/ML Competitions/Kaggle NYC/'
dweath = pandas.DataFrame(pandas.read_csv(csvPath + "Weather" + ".csv"))
# Prepare Weather data
dweath['pickup_datetime'] = pandas.to_datetime(dweath["pickup_datetime"])
#dweath=dweath.rename(columns={'Datetime': 'pickup_datetime'}) # Renames Datetime column to pickup_datetime
dweath = dweath.replace(-999.0, numpy.nan)
dweath = dweath.replace(-9999.0, numpy.nan)
dweath = dweath.drop_duplicates(subset='pickup_datetime', keep='last')
dweath.sort_values(by='pickup_datetime', inplace=True)
# Save wrangled Weather data
csvPath = '/home/arrayslayer/ML Competitions/Kaggle NYC/'
pandas.DataFrame(dweath).to_csv(csvPath + "Weather_mod" + ".csv", header=True, index=False, encoding='utf-8') # Save to csv

# Sort data before merge
dtrain.sort_values(by='pickup_datetime', inplace=True)
dtest.sort_values(by='pickup_datetime', inplace=True)
dweath.sort_values(by='pickup_datetime', inplace=True)
dmerge=pandas.merge_asof(dtrain,dweath, on="pickup_datetime", tolerance=pandas.Timedelta('31m'))
tmerge=pandas.merge_asof(dtest,dweath, on="pickup_datetime", tolerance=pandas.Timedelta('31m'))


# Save merged data
csvPath = '/home/arrayslayer/ML Competitions/Kaggle NYC/'
dmerge.to_csv(csvPath + "dmerge" + ".csv", header=True, index=False, encoding='utf-8')
tmerge.to_csv(csvPath + "tmerge" + ".csv", header=True, index=False, encoding='utf-8')

In [5]:
train = pandas.read_csv('dmerge.csv')
train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,precipm,precipi,conds,icon,fog,rain,snow,hail,thunder,tornado
0,id0190469,2,2016-01-01 00:00:17,2016-01-01 00:14:26,5,-73.981743,40.719158,-73.938828,40.829182,N,...,NaN,NaN,Overcast,cloudy,0.0,0.0,0.0,0.0,0.0,0.0
1,id1665586,1,2016-01-01 00:00:53,2016-01-01 00:22:27,1,-73.985085,40.747166,-73.958038,40.717491,N,...,NaN,NaN,Overcast,cloudy,0.0,0.0,0.0,0.0,0.0,0.0
2,id1210365,2,2016-01-01 00:01:01,2016-01-01 00:07:49,5,-73.965279,40.801041,-73.947479,40.815170,N,...,NaN,NaN,Overcast,cloudy,0.0,0.0,0.0,0.0,0.0,0.0
3,id3888279,1,2016-01-01 00:01:14,2016-01-01 00:05:54,1,-73.982292,40.751331,-73.991341,40.750340,N,...,NaN,NaN,Overcast,cloudy,0.0,0.0,0.0,0.0,0.0,0.0
4,id0924227,1,2016-01-01 00:01:20,2016-01-01 00:13:36,1,-73.970108,40.759800,-73.989357,40.742989,N,...,NaN,NaN,Overcast,cloudy,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
train.columns

Index(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration', 'Month', 'Week', 'Weekday', 'Hour', 'tempm', 'tempi',
       'dewptm', 'dewpti', 'hum', 'wspdm', 'wspdi', 'wgustm', 'wgusti',
       'wdird', 'wdire', 'vism', 'visi', 'pressurem', 'pressurei',
       'windchillm', 'windchilli', 'heatindexm', 'heatindexi', 'precipm',
       'precipi', 'conds', 'icon', 'fog', 'rain', 'snow', 'hail', 'thunder',
       'tornado'],
      dtype='object')