In [1]:
# Importing modules

import pandas as pd # for data wrangling
import seaborn as sns # for plotting
import matplotlib.pyplot as plt # for plotting
import missingno as msno # for visualizing missing values in data
import numpy as np # for array computations

plt.style.use('ggplot') # setting style for matplotlib

In [2]:
cd train

/home/arrayslayer/ML Competitions/Codefest/train

In [3]:
# importing final_merged dataset

train_df = pd.read_csv("merged_dataset.csv")

In [4]:
# removing a random column that was added
del train_df['Unnamed: 0']

In [5]:
train_df.head()

,user_id,problem_id,attempts_range,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds,level_type,points,tags
0,user_232,prob_6507,1.0,53.0,47.0,0.0,Bangladesh,1.0,1.503634e+09,307.913,206.709,beginner,1.432111e+09,B,1000.0,strings
1,user_1910,prob_6507,2.0,240.0,218.0,0.0,Bangladesh,50.0,1.505253e+09,319.954,291.284,beginner,1.385471e+09,B,1000.0,strings
2,user_1824,prob_6507,2.0,370.0,336.0,-10.0,India,30.0,1.505396e+09,307.339,295.585,beginner,1.471685e+09,B,1000.0,strings
3,user_895,prob_6507,1.0,318.0,286.0,0.0,Egypt,20.0,1.505511e+09,304.186,191.514,beginner,1.475530e+09,B,1000.0,strings
4,user_779,prob_6507,1.0,463.0,410.0,0.0,India,39.0,1.504799e+09,374.713,374.713,intermediate,1.437246e+09,B,1000.0,strings

In [6]:
'''This function takes in a "dataframe" and a "column_name" in which it has to replace
values. It takes an "original" value and replaces it by the value of the "replacement".'''

def replace_column_values(dataframe, column_name, original, replacement):
    dataframe.replace({column_name:{original : replacement}}, inplace = True)

In [11]:
# invoking replace_column_values to replace values 
# replacing rank. Beginner - 1, intermediate - 2, advanced -3, expert - 4

replace_column_values(train_df,"rank",'beginner',1)
replace_column_values(train_df,"rank",'intermediate',2)
replace_column_values(train_df,"rank",'advanced',3)
replace_column_values(train_df,"rank",'expert',4)

In [12]:
# replacing rank. Beginner - 1, intermediate - 2, advanced -3, expert - 4

replace_column_values(train_df,"rank",'beginner',1)
replace_column_values(train_df,"rank",'intermediate',2)
replace_column_values(train_df,"rank",'advanced',3)
replace_column_values(train_df,"rank",'expert',4)

,user_id,problem_id,attempts_range,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds,level_type,points,tags
0,user_232,prob_6507,1.0,53.0,47.0,0.0,Bangladesh,1.0,1.503634e+09,307.913,206.709,1,1.432111e+09,B,1000.0,strings
1,user_1910,prob_6507,2.0,240.0,218.0,0.0,Bangladesh,50.0,1.505253e+09,319.954,291.284,1,1.385471e+09,B,1000.0,strings
2,user_1824,prob_6507,2.0,370.0,336.0,-10.0,India,30.0,1.505396e+09,307.339,295.585,1,1.471685e+09,B,1000.0,strings
3,user_895,prob_6507,1.0,318.0,286.0,0.0,Egypt,20.0,1.505511e+09,304.186,191.514,1,1.475530e+09,B,1000.0,strings
4,user_779,prob_6507,1.0,463.0,410.0,0.0,India,39.0,1.504799e+09,374.713,374.713,2,1.437246e+09,B,1000.0,strings

In [16]:
# replacing level_type. A-1,  B-2, ... N - 

alpha = [chr(ch) for ch in range(65,79)]

for i,ch in enumerate(alpha):
    replace_column_values(train_df,'level_type',ch,i+1)

In [23]:
# removing tags

del train_df['tags']

In [7]:
# replacing countries column with numerical values

country_array = train_df['country'].unique()

for i,ch in enumerate(country_array):
    replace_column_values(train_df,'country',ch,i+1)

In [13]:
country_array[2]

'Egypt'

In [35]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155295 entries, 0 to 155294
Data columns (total 15 columns):
user_id                      155295 non-null object
problem_id                   155295 non-null object
attempts_range               155295 non-null float64
submission_count             155295 non-null float64
problem_solved               155295 non-null float64
contribution                 155295 non-null float64
country                      155295 non-null int64
follower_count               155295 non-null float64
last_online_time_seconds     155295 non-null float64
max_rating                   155295 non-null float64
rating                       155295 non-null float64
rank                         155295 non-null int64
registration_time_seconds    155295 non-null float64
level_type                   154675 non-null float64
points                       126220 non-null float64
dtypes: float64(11), int64(2), object(2)
memory usage: 17.8+ MB

In [39]:
train_df.to_csv('merged_and_categorical.csv')