In [12]:
# Importing modules

import pandas as pd # for data wrangling
import seaborn as sns # for plotting
import matplotlib.pyplot as plt # for plotting
import missingno as msno # for visualizing missing values in data
import numpy as np # for array computations

plt.style.use('ggplot') # setting style for matplotlib

In [13]:
# importing model specific libraries

from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import f1_score
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.model_selection import cross_val_score

In [14]:
cd train/

[Errno 2] No such file or directory: 'train/'
/home/arrayslayer/ML Competitions/Codefest/train

In [15]:
#importing merged and integral dataset

train_df = pd.read_csv('merged_and_categorical.csv')

In [16]:
train_df.dropna(inplace=True)

In [17]:
len(train_df)

126014

In [18]:
# removing a random column that was added
del train_df['Unnamed: 0']

In [19]:
train_df.head()

,user_id,problem_id,attempts_range,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds,level_type,points
0,user_232,prob_6507,1.0,53.0,47.0,0.0,1,1.0,1.503634e+09,307.913,206.709,1,1.432111e+09,2.0,1000.0
1,user_1910,prob_6507,2.0,240.0,218.0,0.0,1,50.0,1.505253e+09,319.954,291.284,1,1.385471e+09,2.0,1000.0
2,user_1824,prob_6507,2.0,370.0,336.0,-10.0,2,30.0,1.505396e+09,307.339,295.585,1,1.471685e+09,2.0,1000.0
3,user_895,prob_6507,1.0,318.0,286.0,0.0,3,20.0,1.505511e+09,304.186,191.514,1,1.475530e+09,2.0,1000.0
4,user_779,prob_6507,1.0,463.0,410.0,0.0,2,39.0,1.504799e+09,374.713,374.713,2,1.437246e+09,2.0,1000.0

In [26]:
# training output

Y = train_df['attempts_range']
Y = Y.astype(int)

In [21]:
# training input dataset

X = train_df[['submission_count',
       'problem_solved', 'contribution', 'country', 'follower_count',
       'last_online_time_seconds', 'max_rating', 'rating', 'rank',
       'registration_time_seconds', 'level_type', 'points']]

In [28]:
# Training and performing cross validation


rf = RandomForestClassifier(n_estimators=500,max_depth =10, min_samples_split= 4 )
scores = cross_val_score(rf, X, Y, cv=5, scoring='accuracy')
scores

array([ 0.54473319,  0.54221552,  0.54144348,  0.5363676 ,  0.5418039 ])